@model Recipes

<span class="btntext" id="recipe@(Model.RecipeId)" style="text-align: center">
    @Model.RecipeName <br />
    <img src="~/images/time.png" /><span style="font-size: small"> @Model.Time min</span>
</span>
