@{
    ViewData["Title"] = "Menuetti";
}

<h2>@ViewBag.Title</h2>

<p>Kiitos kun käytit palveluamme! Tältä sivulta löydät yhteystietomme ja voit halutessasi lähettää meille palautetta tai kehitysideoita sivustoon liittyen.</p>
<br />
<br />
<img src="~/images/cheese.png" />
<img src="~/images/fish.png" />
<img src="~/images/vegan.png" />
<img src="~/images/vegetarian.png" />
<img src="~/images/soybean.png" />
<br />
<br />
<br />


<h3>Yhteystiedot</h3>
<address>
    Menunetsijäntie 5<br />
    55555 Menula<br />
    <abbr title="Phone">P:</abbr>
    555 555555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


