@{
    ViewData["Title"] = "Menuetti";
}

<h2>@ViewBag.Title</h2>

<p>Kiitos kun käytät palveluamme! Tältä sivulta löydät yhteystietomme ja voit halutessasi lähettää meille palautetta tai kehitysideoita sivustoon liittyen.</p>
<br />
<br />
<img src="~/images/cheese.png" />
<img src="~/images/fish.png" />
<img src="~/images/vegan.png" />
<img src="~/images/vegetarian.png" />
<img src="~/images/soybean.png" />
<br />
<br />
<br />


<h3>Yhteystiedot</h3>
<address>
    Katri Pacek
    @*Menunetsijäntie 5<br />
        55555 Menula<br />*@
    <abbr title="Phone">P:</abbr>
    +358 456722249
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:katrie.pacek@gmail.com">katrie.pacek[at]gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>


