@{
    ViewData["Title"] = "Menuetti";
}

<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        <div class="logo">
            <img src="~/images/menuetti_logo2.png" alt="Menuetti logo" class="img-responsive" />
        </div>
    </div>
</div>

<div class="row">

    <div class="col-12 col-md-7">
        <div class="text_index">

            <p class="introduction">
                Menuetti on reseptipalvelu, jonka avulla saat ehdotuksen viiden päivän ruokalajeista resepteineen ja ostoslistoineen.
                Voit valita listallesi kasvis-, vegaani- tai sekaruokavalion mukaisia ruokalajeja.
            </p>

            <p class="register_text">
                Rekisteröitymällä käyttäjäksi pääset jatkossa hyödyntämään palvelua monipuolisemmin ja lisäämään palveluun myös omia reseptejäsi.
                Kehitämme palveluamme edelleen, ja toivomme palautetta ja ideoita rekisteröityneiltä käyttäjiltä käyttäjäkokemuksen parantamiseksi.
            </p>


        </div>
    </div>
    <div class="col-12 col-md-5 flex-tablet">
        <div class="food_btn">
            <a asp-controller="DietType" asp-action="RecipeCarousel" testID="omni1" button class="btn btn-default btn-lg btn-block index_btn">
                <div class="food_img">
                    <span><img src="~/images/meat.png" alt="Meat" /></span>
                    <span><img src="~/images/fish.png" alt="Fish" /></span>
                </div>
                <span class="btntext-index seka">Seka</span>
                <span class="glyphicon glyphicon-menu-right arrow"></span>
            </a>
        </div>
        <div class="food_btn">
            <a asp-controller="DietType" asp-action="Vegetarian" testID="vege1" button class="btn btn-default btn-lg btn-block index_btn">
                <div class="food_img">
                    <span><img src="~/images/cheese.png" alt="Cheese" /></span>
                    <span><img src="~/images/vegetarian.png" alt="VegDish" /> </span>
                </div>
                <span class="btntext-index kasvis" >Kasvis</span>
                <span class="glyphicon glyphicon-menu-right arrow"></span>
            </a>
        </div>
        <div class="food_btn">
            <a asp-controller="DietType" asp-action="Vegan" testID="vegan1" button class="btn btn-default btn-lg btn-block index_btn">
                <div class="food_img">
                    <span><img src="~/images/vegan.png" alt="Vegan" /> </span>
                    <span><img src="~/images/soybean.png" alt="Soybean" /> </span>
                </div>
                <span class="btntext-index vegaani" >Vegaani</span>
                <span class="glyphicon glyphicon-menu-right arrow"></span>
            </a>
        </div>
    </div>
</div>
