@{
    ViewData["Title"] = "Menuetti";
}

<div class="row">
    <div class="col-sm-12">
        <center>
            <img src="~/images/menuetti.png" alt="Menuetti logo" class="img-responsive" align="middle" />
        </center>
    </div>
    <div class="col-sm-12">
        <h2 align="center">Valitse ruokavaliosi</h2>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-lg btn-block">
            <img src="~/images/meat.png" alt="Meat"/>
        <img src="~/images/fish.png" alt="Fish"/> <span class="btntext">Seka</span> <span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
    <br />
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-lg btn-block">
        <img src="~/images/cheese.png" alt="Cheese"/>
        <img src="~/images/vegetarian.png" alt="VegDish" /> <span class="btntext">Kasvis</span> <span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
    <br />
    <div class="col-md-4">
        <button type="button" class="btn btn-default btn-lg btn-block">
        <img src="~/images/vegan.png" alt="Vegan"/>
        <img src="~/images/soybean.png" alt="Soybean"/> <span class="btntext">Vegaani</span> <span class="glyphicon glyphicon-menu-right"></span></button>
    </div>
</div>
