@{
    ViewData["Title"] = "Yksityisyydensuoja";
}
<h2>@ViewData["Title"]</h2>

<p>Juuri nyt kaikki on erittäin yksityistä. Mikään keksi ei kulje mihinkään suuntaan. Kyselemme lupaa, koska tämä on täällä tulevaisuutta varten. Ja tietenkin kysymme lupaa joka sivulle, kunnes kaikilta osapuollta menevät hermot. Älä siis klikkaile, vaan jatka elämääsi rauhallisin mielin.</p>
