@model Menuetti.Models.Ingredients

@{
    ViewData["Title"] = "Lisää uusi raaka-aine reseptiin";
}
@if (User.Identity.IsAuthenticated)
{
    <h3>Lisää uusi raaka-aine reseptiin "@ViewBag.RecipeName"</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="CreateToRecipe">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="RecipeId" class="control-label">Resepti</label>*@
                    <input type="hidden" asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId" />
                </div>
                @*<div class="form-group">
                        <label asp-for="IngredientName" class="control-label">Raaka-aine</label>
                        <input asp-for="IngredientName" class="form-control" />
                        <span asp-validation-for="IngredientName" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="IngredientName" class="control-label">Raaka-aine</label>
                    <select asp-for="IngredientName" class="form-control" asp-items="@ViewBag.Json"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AmountG" class="control-label">Määrä</label>
                    <input asp-for="AmountG" class="form-control" />
                    <span asp-validation-for="AmountG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RecipeUnit" class="control-label">Yksikkö</label>
                    <input asp-for="RecipeUnit" value="g" readonly class="form-control" />
                    <span asp-validation-for="RecipeUnit" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Luo uusi" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@ViewBag.RecipeNumber" button class="btn btn-default btn-md btn">Takaisin</a>
    </div>
    <script>
    function redirect(event) {
        event.preventDefault();
        window.location.href = "/Recipes/Edit/"+@ViewBag.RecipeId;
    }
    </script>
}
else
{
    <div>
        <a asp-controller="Recipes" asp-action="Index" button class="btn btn-default btn-md btn">Takaisin</a>
    </div>
}

@*asp-all-route-data="@(new Dictionary<string, string>  { { "RecipeId",  Model.RecipeId.ToString() }})"*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
