@{
    ViewData["Title"] = "Ei vaadittavia oikeuksia";
}
<h2>Sinulla ei ole oikeuksia tähän toimintoon</h2>

<br/>
<a asp-controller="Ingredients" asp-action="Index" class="btn btn-default">Palaa raaka-aineisiin</a>