@model Menuetti.Models.Ingredients

@{
    ViewData["Title"] = "Lisää uusi raaka-aine reseptiin";
    var index = 1;
}
@if (User.Identity.IsAuthenticated)
{
    <hr />
    <h4>Lisää raaka-aine:</h4>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form asp-action="CreateToRecipe">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <input type="hidden" asp-for="RecipeId" class="form-control" asp-items="ViewBag.RecipeId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="IngredientName" class="control-label">Raaka-aine</label>
                        <select asp-for="IngredientName" class="form-control" id="selectIngredient" asp-items="@ViewBag.Json"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="AmountG" class="control-label">Määrä</label>
                        <input asp-for="AmountG" class="form-control" id="selectIngredientAmount"/>
                        <span asp-validation-for="AmountG" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RecipeUnit" class="control-label">Yksikkö</label>
                        <input asp-for="RecipeUnit" value="g" readonly class="form-control" id="selectIngredientUnit"/>
                        <span asp-validation-for="RecipeUnit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="button" value="Lisää" class="btn btn-default" onclick="writeToList()">Lisää</button>
                    </div>
                </form>
            </div>
            <h4>Lisätyt raaka-aineet:</h4>
            <div id="ingredientsAdded">
                @*The ingredients come to this div when added*@
            </div>
        </div>
    </div>
    <hr />

    <script>
    function redirect(event) {
        event.preventDefault();
        //window.location.href = "/Recipes/Edit/"+@ViewBag.RecipeId;
    }
    </script>
}
else
{
}
@*<div>
        <a asp-controller="Recipes" asp-action="Index" button class="btn btn-default btn-md btn">Takaisin</a>
    </div>*@
@*asp-all-route-data="@(new Dictionary<string, string>  { { "RecipeId",  Model.RecipeId.ToString() }})"*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
<script>
    function writeToList() {
        var newIngredient = document.getElementById("selectIngredient").value;
        var amount = document.getElementById("selectIngredientAmount").value;
        var unit = document.getElementById("selectIngredientUnit").value;
        var newIngredientToList = `<br /> ${amount} ${unit} ${newIngredient}`;

        //localStorage.setItem("recipeItem@(index)", newIngredient);

        document.getElementById("ingredientsAdded").innerHTML += newIngredientToList;
        
    }
</script>
