@model Menuetti.Models.Recipes

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId" /></input>
            </div>
            <div class="form-group">
                <label asp-for="RecipeName" class="control-label"></label>
                <input asp-for="RecipeName" class="form-control" />
                <span asp-validation-for="RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portions" class="control-label"></label>
                <input asp-for="Portions" class="form-control" />
                <span asp-validation-for="Portions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <input asp-for="Instructions" class="form-control" />
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DietType" class="control-label"></label>
                <input asp-for="DietType" class="form-control" />
                <span asp-validation-for="DietType" class="text-danger"></span>
            </div>

            <div>

                Ingredient name: <input type="text" id="iname" name="iname" />
                Amount name: <input type="number" id="amount" name="amount" />
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <hr />
    @if (Model != null && Model.Ingredients != null)
    {
        foreach (var item in Model.Ingredients)
        {
            <p>@item.IngredientName</p>
            <p>@item.AmountG</p>
            <p>@item.RecipeUnit</p>
        }
    }
</div>
<hr/>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
