@model IEnumerable<Menuetti.Models.Ingredientti>

@{
    ViewData["Title"] = "LoadJson";
    int rowNumber = Convert.ToInt32(ViewData["rowNumber"]);
}

<div class="form-group" id="added-item-@rowNumber">
    <div class="row" id="ingredient-row">
        <div class="short-ingredient-box">
            <input class="form-control" type="number" id=ingredient-@rowNumber-amount min="1" name="Ingredients[@rowNumber].AmountG" />
        </div>
        <div class="short-ingredient-box">
            <input class="form-control" type="text" id=ingredient-@rowNumber-unit name="Ingredients[@rowNumber].RecipeUnit" readonly value="g" />
        </div>
        <div class="long-ingredient-box">
            <input type="text" class="form-control" id="ingredient-@rowNumber-name" name="Ingredients[@rowNumber].IngredientName" onkeyup="SearchIngredient()" onclick="showIngredientOptions()" placeholder="Etsi raaka-ainetta" />
            <ul id="ingredient-options" style="display:none">
                @foreach (var item in Model)
                {
                    <li><a onclick="save(id)" id="@item.name.fi">@item.name.fi</a></li>
                }
            </ul>
        </div>
        <div class="delete-button">
            <button type="button" onclick="deleteRow(id)" id="delete-button-@rowNumber">X</button>
        </div>
    </div>
</div>

<script>
    function SearchIngredient() {

        let input = document.getElementById("ingredient-@rowNumber-name");
        let filter = input.value.toUpperCase();
        let ingredientList = document.getElementById("ingredient-options");
        let ingredient = ingredientList.getElementsByTagName("li");

        for (let i = 0; i < ingredient.length; i++) {

            let ingredientName = ingredient[i].getElementsByTagName("a")[0];
            let txtValue = ingredientName.textContent || ingredientName.innerText;

            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                ingredient[i].style.display = "";
            } else {
                ingredient[i].style.display = "none";
            }
        }
    }
    function showIngredientOptions() {
        $("#ingredient-options").toggle();
    }
    function save(id) {
        document.getElementById("ingredient-@rowNumber-name").value = id;
        $("#ingredient-options").hide();
    }
</script>