
@{
    ViewData["Title"] = "ShoppingListDetails";
}


<div class="container">
    <h2>5 päivän menu:</h2>
    @foreach (var item in ViewBag.Recipes)
    {
        <tr>
            <td><a href="http://localhost:62500/Recipes/Details/@item.RecipeId">@item.RecipeName</a></td>
        </tr>
        <br />
    }
    <h3>Ostoslista</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th width="50px"></th>
                    <th>Ainekset</th>
                    <th>Määrä (g)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.List)
                {
                    <tr>
                        <td>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </td>
                        <td>@item.Key</td>
                        <td>@item.Value g</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
</style>


